doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(content="" name="author")
    meta(content="" name="description")
    meta(content="" name="keywords")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    link(rel='stylesheet' href='/assets/css/foundation.css')
    link(rel='stylesheet' href='/assets/css/app.css')
    link(rel='stylesheet' href='assets/css/normalize.css')
    link(href="assets/css/main.css", rel="stylesheet")
    //link(href="assets/css/preloader.css", rel="stylesheet")
    link(href="assets/css/menu.css", rel="stylesheet")
    link(href="assets/css/footer.css", rel="stylesheet")
    link(rel='stylesheet', href='../bower_components/components-font-awesome/css/font-awesome.css')
    block link-css
  body
    .wrapper
      block page-header
      block content
      block footer
    script(src='assets/js/foundation.js', defer)
    script(src='assets/js/app.js', defer)
    //script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    //script(src='assets/js/google_maps.js')
    script(async, src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC-d7QRuOg4ZsUxSz1eDDsEZxFCKzCx34g & callback=initMap')

    //include common/_preloader