.footer
  .footer__up
    .left-part Это я сделал в рамках обучения в LoftSchool
    .center-part
      ul.nav
        li.nav__item
          a.nav__link(href="./myworks.html") Мои работы
        li.nav__item
          a.nav__link(href="./skills.html") Обо мне
        li.nav__item
          a.nav__link(href="./blog.html") Блог
        li.nav__item
          a.nav__link(href="./index.html") Авторизация
      .socials
        ul.socials__list
          li.socials__item
            a(href="#").socials__link.socials__link_vk
              i.fa.fa-vk(aria-hidden="true")
          li.socials__item
            a(href="#").socials__link.socials__link_git
              i.fa.fa-github-alt(aria-hidden="true")
          li.socials__item
            a(href="#").socials__link.socials__link_in
              i.fa.fa-linkedin(aria-hidden="true")
    .right-part
      p.quote "Умные люди - не во всем умные люди!"
        span.quote-auth
          | - Александр
  .footer__down Значок копирайта вот здесь вставлен не будет.
