.map
  .adress-form
    h2.description-block-title Контакты
      hr.horizontal-line
    p.skype-contact
      i.fa.fa-skype(aria-hidden="true") a.prikotov
    p.email-contact
      i.fa.fa-envelope(aria-hidden="true") a.prikotov@gmail.com
    p.phone-contact
      i.fa.fa-phone(aria-hidden="true") a.prikotov@gmail.com
    p.adress-contact
      i.fa.fa-phone(aria-hidden="true") a.prikotov@gmail.com
  #map