.wrapper {
  background-image: url("../img/form_back.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
}

.content {
  //  margin-bottom: -50px;
  //  padding-top: 50px;
}

.page-title {
  text-align: center;
  font-size: 63px;
  line-height: 63px;
  z-index: 11;
  margin-top: 30px;
}
.horizontal-line {
  border: none;
  background-color: black;
  width: 90px;
  height: 3px;
  margin-bottom: 36px;
}

.works {
  display: flex;
  flex-wrap: wrap;

  .works__description {
    display: flex;
    justify-content: center;
    min-width: 400px;
    height: 750px;

    flex: 1;
    background-color: rgb(235, 239, 226);
    .works__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .work__title {
        width: 360px;
        margin: 0 auto;
        margin-bottom: 30px;
        font-size: 35px;
        line-height: 35px;
        text-align: center;
        color: rgb(86, 99, 88);
      }
      .horizontal-line {
        background-color: rgb(86, 99, 88);
        margin-bottom: 25px;
      }

      .work__description {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
        text-align: center;
        text-transform: uppercase;
        color: rgb(108, 156, 90);

      }
      .work__site {
        display: block;
        background-image: url('../img/link.png');
        background-repeat: no-repeat;
        background-position: 15px 12px;
        text-align: center;
        width: 160px;
        padding: 14px 20px 14px 30px;
        margin: 0 auto;
        border-radius: 20px;
        font-size: 16px;
        line-height: 16px;
        color: white;
        text-decoration: none;
        background-color: rgb(108, 156, 90);
      }
    }

  }

  .works__slider {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    height: 750px;

    flex: 1;
    background-color: rgb(225, 228, 215);
    .works__slider-big-demo {
      margin-bottom: 85px;
      img {
        display: block;
        margin: 0 auto;
      }
    }
    .works__slider-small-demo {
      display: flex;
      flex-direction: row;

      .small-demo__left {
        flex: 1;
        height: 250px;
        background-image: url("../img/slide_down.png");
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        .small-demo__pic {
          flex: 1;
          display: flex;
          height: 100%;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .small-demo__right {
      flex: 1 ;
      height: 250px;
      max-width: 100%;
      background-image: url("../img/slide_up.png");
      background-repeat: no-repeat;
      background-size: cover;

      .small-demo__pic {
        flex:1;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}


.aboutme-block {
  display: flex;
  flex-direction: column;
  //  width: 54%;
  margin: 0 auto 70px auto;

  //  &:after {
  //    display: table;
  //    clear: both;
  //    content: "";
  //  }


  .aboutme-title {
    width: 500px;
    font-size: 50px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    text-transform: uppercase;

  }
  .aboutme-people {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 70px;

    //    &:after {
    //      display: table;
    //      clear: both;
    //      content: "";
    //    }

    .aboutme-people-left {
      //      flex: 1;
      //      justify-content: flex-end;
      //      float: left;
      font-size: 16px;
      line-height: 24px;
      width: 30%;
      text-align: center;
    }
    .aboutme-people-right {
      //      margin-left:100px;
      font-size: 16px;
      line-height: 24px;
      //       flex: 1;
      width: 30%;

      //      justify-content: flex-start;
      //      float: left;
      //      width: 49%;
      text-align: center;
    }

    .aboutme-people-quote {
      margin-bottom: 25px;
      font-style: italic;
      color: rgb(93, 90, 85);
    }

    .aboutme-people-who {
      margin-bottom: 12px;
      line-height: 16px;
      color: rgb(78, 136, 57);
    }

    .aboutme-people-whois {
      color: rgb(55, 62, 66);
      line-height: 16px;

    }

  }
}
.contact-form {
  .contact-form-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
    margin: 0 auto 50px auto;
    width: 385px;
    height: 465px;
    border-radius: 5px;
    background-color: rgba(232, 232, 238, .6);

    .contact-form-title {
      text-transform: uppercase;
      margin: 0 auto;
      text-align: center;
      color: rgb(86, 99, 88);

      .horizontal-line {
        margin-bottom: 30px;
        margin-top: 30px;
      }
    }
    .contact-form-name,
    .contact-form-email {
      width: 325px;
      height: 45px;
      border-radius: 20px;
      border: none;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
      padding-left: 20px;

    }
    .contact-form-somewords {
      width: 325px;
      height: 170px;
      border-radius: 20px;
      border: none;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 18px;
      padding-left: 20px;
      vertical-align: top;
    }
    .send-btn {
      display: inline-block;
      color: white;
      width: 194px;
      text-decoration: none;
      vertical-align: middle;
      height: 50px;
      box-sizing: border-box;
      border-right: 3px solid rgba(195, 197, 171, .5);
      background-color: rgba(96, 142, 84, .6);
      font-size: 16px;
      text-align: center;
      padding-top: 16px;
      border-bottom-left-radius: 5px;
    }
    .clear-btn {
      display: inline-block;
      color: white;
      width: 191px;
      text-decoration: none;
      vertical-align: middle;
      height: 50px;
      box-sizing: border-box;
      background-color: rgba(96, 142, 84, .85);
      font-size: 16px;
      text-align: center;
      padding-top: 16px;
      border-right: none;
      border-bottom-right-radius: 5px;

    }
  }
}

.arrow-up {
  height: 250px;
  display: flex;
  justify-content: center;
  .arrow-up__img {
    border: 0;
    margin-top: 0px;
    width: 45px;
    height: 30px;

    .arrow-up__link:hover {
      opacity: 0.8;
    }
  }

}

.triangle {
  fill: white !important;
}