//include _preloader
.fixed
  .container
    .left__col
    .right__col
.content#content
  .blog
    .left__col
      .blog-menu
        ul.blog-nav
          li.blog-side__item
            a(href='#articles__item1').blog-nav__link Брюки
          li.blog-side__item
            a(href='#articles__item2').blog-nav__link Рыбки?
          li.blog-side__item
            a(href='#articles__item3').blog-nav__link Клавиатуры
          li.blog-side__item
            a(href='#articles__item4').blog-nav__link Их триллионы
    .right__col.blog-content
      ul.blog-news
        li#articles__item1
          h2 Укороченные или укороченые?
          p.date 13 сентября 2016
          p.blog-content-text В гардеробе у каждой женщины найдется парочка стильных укороченных брюк. Они актуальны в любое время года и поэтому популярны среди женщин разных возрастов и предпочтений стиля. Такие брюки имеют длину до середины икры и еще называются 7 на 8. Время появления этой части одежды приходится на конец 40-х годов прошлого столетия. К укороченным брюкам отнеслись с недоумением, считая их шуткой дизайнера. Но уже в скором времени женщины поняли их универсальность и брюки стали настоящим писком моды. Эту стильную часть одежды носили известные Грейс Келли, а также Одри Хепберн. Укороченные брюки обладают рядом достоинств, но прежде чем надеть штаны нужно реально оценить возможности своей фигуры. Ведь брюки укороченной длины могут визуально удлинить ноги, сделав их стройнее, но и также сделать их короткими. Чтобы не выглядеть смешной в таких брюках, нужно учитывать некотор
        li#articles__item2
          h2 Одичавшие золотые рыбки оказались угрозой для экологии и кибернетики
          p.date 14 сентября 2016
          p.blog-content-text Австралийские ученые изучили повадки одичавших золотых рыбок (Carassius auratus) в одной из рек страны и пришли к выводу, что они представляют серьезную угрозу местной экологии, пишет сайт N+1 со ссылкой на Ecology of Freshwater Fish. Сотрудники Университетов Мердока и Джеймса Кука в течение года наблюдали за популяцией аквариумных золотых рыбок, выпущенных владельцами в западноавстралийскую реку Вассе. Для наблюдения они использовали пассивную акустическую телеметрию, установив сканеры на различных участках речной гидросистемы. Выяснилось, что в реке присутствует устойчивая популяция золотых рыбок — в среднем каждая особь попадала в поле зрения сканеров 64 процента дней в году. При этом представители инвазивного вида весьма мобильны: в день они перемещались в среднем на 300 метров речного русла. Одна из зарегистрированных рыб за год преодолела расстояние более чемАвстралийские ученые изучили повадки одичавших золотых рыбок (Carassius auratus) в одной из рек страны и пришли к выводу, что они представляют серьезную угрозу местной экологии, пишет сайт N+1 со ссылкой на Ecology of Freshwater Fish. Сотрудники Университетов Мердока и Джеймса Кука в течение года наблюдали за популяцией аквариумных золотых рыбок, выпущенных владельцами в западноавстралийскую реку Вассе. Для наблюдения они использовали пассивную акустическую телеметрию, установив сканеры на различных участках речной гидросистемы. Выяснилось, что в реке присутствует устойчивая популяция золотых рыбок — в среднем каждая особь попадала в поле зрения сканеров 64 процента дней в году. При этом представители инвазивного вида весьма мобильны: в день они перемещались в среднем на 300 метров речного русла. Одна из зарегистрированных рыб за год преодолела расстояние более чем

        li#articles__item3
          h2 Беспроводные клавиатуры оказались беззащитны перед хакерами и щенками
          p.date 15 сентября 2016
          p.blog-content-text Клавиатуры с беспроводным подключением от некоторых крупных производителей уязвимы для перехвата нажатий клавиш, предупредили эксперты из компании Bastille. Из-за того, что в таких устройствах используются незашифрованные протоколы радиосвязи, киберпреступники могут увидеть все, что печатает жертва, с расстояния 75 метров. По словам старшего исследователя Bastille Ивана О'Салливана, уязвимые (и, как правило, дешевые) беспроводные клавиатуры передают нажатия клавиш на USB-ключ вообще без какого-либо шифрования. "Мы были ошеломлены. Мы никак не ожидали, что в 2016 году эти компании будут продавать клавиатуры без шифрования", — сказал он. Атака KeySniffer позволяет перехватить любые символы — логины и пароли, номера кредитных карт и другую конфиденциальную информацию в виде обычного текста. Более того, злоумышленники могут не только "слушать", но и передавать свои собственные нажатия клавиш, чтоКлавиатуры с беспроводным подключением от некоторых крупных производителей уязвимы для перехвата нажатий клавиш, предупредили эксперты из компании Bastille. Из-за того, что в таких устройствах используются незашифрованные протоколы радиосвязи, киберпреступники могут увидеть все, что печатает жертва, с расстояния 75 метров. По словам старшего исследователя Bastille Ивана О'Салливана, уязвимые (и, как правило, дешевые) беспроводные клавиатуры передают нажатия клавиш на USB-ключ вообще без какого-либо шифрования. "Мы были ошеломлены. Мы никак не ожидали, что в 2016 году эти компании будут продавать клавиатуры без шифрования", — сказал он. Атака KeySniffer позволяет перехватить любые символы — логины и пароли, номера кредитных карт и другую конфиденциальную информацию в виде обычного текста. Более того, злоумышленники могут не только "слушать", но и передавать свои собственные нажатия клавиш, что
        li#articles__item4
          h2 В метро людей ожидают триллионы бактерий и людей
          p.date 16 сентября 2016
          p.blog-content-text Какие именно бактерии обитают на станциях метро в вагонах поездов, и где именно они находятся? Американские ученые ответили на этот вопрос, одновременно установив, что большинство бактерий из метро безвредны. Ни для кого не должно быть сюрпризом то, что поезда и станции метрополитена колонизированы многочисленными бактериями. Они обитают здесь на скамейках, стенах, сиденьях поездов и поручнях, а также многих других поверхностях. Исследователи из Гарвардской школы здравоохранения установили, что в метро проживают триллионы различных микроорганизмов, которые путешествуют с поверхностей на одежду и тела пассажиров, ни о чем подобном не подозревающих. Хотя попадание бактерий из метро на тело является чем то неотвратимым, новое исследование также показывает, что существует методы снижения подобного риска. Самое большое число бактерий было обнаружено на разного рода поручнях в поездах, за которые держатся сотнКакие именно бактерии обитают на станциях метро в вагонах поездов, и где именно они находятся? Американские ученые ответили на этот вопрос, одновременно установив, что большинство бактерий из метро безвредны. Ни для кого не должно быть сюрпризом то, что поезда и станции метрополитена колонизированы многочисленными бактериями. Они обитают здесь на скамейках, стенах, сиденьях поездов и поручнях, а также многих других поверхностях. Исследователи из Гарвардской школы здравоохранения установили, что в метро проживают триллионы различных микроорганизмов, которые путешествуют с поверхностей на одежду и тела пассажиров, ни о чем подобном не подозревающих. Хотя попадание бактерий из метро на тело является чем то неотвратимым, новое исследование также показывает, что существует методы снижения подобного риска. Самое большое число бактерий было обнаружено на разного рода поручнях в поездах, за которые держатся сотн

