.content#content
  h1.page-title Мои работы
    hr.horizontal-line
  .works
    .works__description
      .works__item
        p.work__title Сайт школы онлайн образования
        hr.horizontal-line
        p.work__description html, css, javascript
        a.work__site(href='#') Посмотреть сайт
    .works__slider
      .works__slider-big-demo
        img(src='assets/img/big-demo.png', alt='big demo')
      .works__slider-small-demo
        .small-demo__left
          .small-demo__pic
            img.arrow(src='assets/img/arrow_down.png', alt='small demo')
        .small-demo__right
          .small-demo__pic
            img.arrow(src='assets/img/arrow_up.png', alt='small demo')
  .aboutme-block
    h1.aboutme-title Что обо мне говорят
      hr.horizontal-line
    .aboutme-people
      .aboutme-people-left
        img.aboutme-people-img(src='assets/img/dima.png', alt='Dima Avatar')
        p.aboutme-people-quote Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, mollitia!
        p.aboutme-people-who Дмитрий Ковальчук
        p.aboutme-people-whois - основатель LoftSchool
      .aboutme-people-right
        img.aboutme-people-img(src='assets/img/zar.png', alt='Zar Avatar')
        p.aboutme-people-quote Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, mollitia!
        p.aboutme-people-who Зар Захаров
        p.aboutme-people-whois - главный преподаватель LoftSchool
  .contact-form
    .contact-form-inner
      h2.contact-form-title Связаться со мной
        hr.horizontal-line
      input.contact-form-name(type='text', placeholder='Имя')
      input.contact-form-email(type='email', placeholder='Email')
      input.contact-form-somewords(type='textarea', rowspan='6', placeholder='Ваше сообщение')
      .contact-form-btns
        a.send-btn(href='#') Отправить
        a.clear-btn(href='#') Очистить
  .arrow-up
    a.arrow-up__link
      img.arrow-up__img(src='assets/img/arrow_up.png', alt='small demo')