doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  meta(content="width=device-width, initial-scale=1" name="viewport")
  //link(href="assets/css/normalize.css", rel="stylesheet")
  //link(href="assets/css/main.css", rel="stylesheet")
  //link(href="assets/css/preloader.css", rel="stylesheet")
  link(href="assets/css/register.css", rel="stylesheet")
  link(href='./../bower_components/font-awesome/scss/font-awesome.scss', rel='stylesheet')

body.body_background
  .wrapper
    header.header__index
      a.autorize-btn(href="#") Авторизоваться
    .card
      .card__front
        img.photo(src="assets/img/avatar.png", alt="Logo")
        p.name Александр Прикотов
        p.sitetitle Личный сайт веб-разработчика
        .social-btns
          a.vk(href="#")
            i.fa.fa-vk(aria-hidden="true")
          a.git(href="#")
            i.fa.fa-github-alt(aria-hidden="true")
          a.in(href="#")
            i.fa.fa-linkedin(aria-hidden="true")
        .btns
          a.myworks(href='myworks.html') Мои работы
          a.aboutme(href='skills.html') Обо мне
          a.blog(href='blog.html') Блог
      .card__back
        p.name Авторизуйтесь
          hr.horizontal-line
        .register-form-login
          .register-form-login-fa
            i.fa.fa-user
          label.register-form-login__label
            input.register-form-login__input(type='text', placeholder='Логин')
        .register-form-pass
          .register-form-login-fa
            i.fa.fa-key
          label.register-form-pass__label
            input.register-form-pass__input(type='password', placeholder='Пароль')
        .captcha-checkbox
          input#captcha(type='checkbox')
          label(for='captcha')
            | Я человек
        p.captcha-question Вы точно не робот?
        .captcha-question-radio
          input#yes-in(type='radio', name='yesno', value='1')
          label(for='yes-in')
            | Да
          input#no-in(type='radio', name='yesno', value='0')
          label(for='no-in')
            | Не уверен
        .btns
          .main-page-btn На главную
          .sign-in-btn Войти
  p.copyright Секретный ингредиент: чуточка любви!
  //script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
  script(src="assets/js/app.js" defer)
  //include ../common/_preloader
  
  