extends ../_template

block link-css
  link(href="assets/css/common/header.css", rel="stylesheet")
  link(href="assets/css/common/myworks_content.css", rel="stylesheet")
  link(href="assets/css/common/footer.css", rel="stylesheet")
block page-header
  include ../includes/myworks-header
block content
  include ../includes/myworks-content
block footer
  include ../common/_footer




